<div ng-controller="zoom.area.cropper.controller" class="zoom-area-cropper">
    <div ng-show="!hasImageSelected()">
        <a href="" ng-click="openMediaPicker()">
            <span class="fileinput-button umb-upload-button-big" style="margin-bottom: 5px;">
                <i class="icon icon-add"></i>
                <p>Click to select image</p>
            </span>
        </a>
    </div>
    <div class="image" ng-show="hasImageSelected()">
        <div class="imagecropper">
            <div class="umb-cropper-imageholder clearfix">
                <div class="umb-cropper-gravity">
                    <div class="gravity-container">
                        <div class="viewport">
                            <img ng-src="{{model.value.media.url}}" />
                            <div class="overlay ui-draggable ui-draggable-handle"
                                ng-show="showHandle"
                                ng-mousedown="mouseDown($event)"
                                ng-style="focusPosStyle()"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="umb-sortable-thumbnails cropList clearfix">
                <li>
                    <a style="width: 75px; display: block; position: relative; text-align: center;">
                        <i class="icon icon-add"></i>
                    </a>
                </li>
            </ul>
        </div>
        <a href="" class="btn btn-link btn-crop-delete" ng-click="removeImage()">
            <i class="icon-delete red"></i> 
            <localize key="content_uploadClear" class="ng-isolate-scope ng-scope">Remove file</localize>
        </a>
    </div>
    
</div>
